{% assign collection = section.settings.collection %}
{% for product in collection.product %}
  <div style="border: 1px solid orange">
    <h3>{{product.title}}</h3>
    {% if product.variants.size > 0 %}
      <div>
        Have
      </div>
    {% else %}
      <div>
        None
      </div>
    {% endif %}
  </div>
</div>
{% endfor %}

{%schema%}
{
  "name": "Product object",
  "tag": "section",
  "class": "section product-object-section",
  "settings": [

  ], 
  "presets": [
    {
      "name": "Product object"
    }
  ]
}
{% endschema %}
